#bolo{
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#botao{
    line-height: 2;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(33, 18, 165);
}
