body{
  background: #FFF1D6;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode';
}

#botao{
  line-height: 2;
  color: #fff;
  border-radius: 10px;
  background-color: #442061;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
